/* место для вашего кода */
.header {
  background-color: rgb(255, 255, 255);
  min-height: 293px;
  display: grid;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr min-content 1fr;
}

/*.header__logo {
    width: 148px;
    height: 105px;
}*/

.header__logo-image {
  width: 148px;
  height: 105px;
}

.header__menu {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.header__links-list {
  display: flex;
  gap: 32px;
  padding: 135px 1px 137px 16px;
  justify-content: space-between;
  align-items: flex-start;
}

.header__links-list-item {
  grid-template-columns: auto;
  justify-content: space-evenly;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
  text-decoration: none;
}

.header__links-list-item {
  font-size: 18px;
}

.address {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 98px;
  margin-left: 133px;
}

.header__address {
  height: 98px;
  font-style: normal;
  list-style-type: none;
}

.cover {
  background: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  min-height: 757px;
  z-index: 1;
}

.overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0 0 0 / 0.5);
  z-index: 2;
}

.cover__title {
  /*display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
  text-transform: uppercase;
  font-size: 100px;
  color: #fff;
}

.aligned-text_left {
  flex-direction: column;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}
